body {
}
.input
{
	border:none;
	padding:35px 40px;
	width:200px;
	border-radius:50px;
	background:url(butn.jpg);
	display:block;
	font-variant:small-caps;
	font-size:20px;
	font-weight:bold;
	

}
.input:hover
{
	background:url(btn.jpg);
	
	
}


