body {
}
.input
{
	border:none;
	padding:25px 30px;
	width:200px;
	border-radius:50px;
	background:rgba(255,255,255,.1);
	display:block;
	font-variant:small-caps;
	font-size:18px;
	font-weight:bold;
}
.input:hover
{
	background-color:Black;
	
}
