body 
{
	padding :0;
	margin :0;
}
.container ul 
{
	list-style :none;
}
.container li
{
	background-color :black;
	width:150px;
	border:1px solid white;
	height:50px;
	line-height :50px;
	text-align :center ;
	float :left ;
	color :white ;
	font-size :20px;
	position :relative ;
	opacity:0.8;
}
.container ul li:hover
{
	background-color :green ;
}
.container ul ul 
{
	display:none ;
}
.container ul li:hover >ul
{
	display :block ;
}
.container ul ul ul 
{
	margin :left;
	top :0px;
	position :absolute ;
	
}

